body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.list-container {
    max-height: 40vh;
    overflow-y: scroll;
}

.action {
    cursor: pointer;
}